/*****************************************************************************/
/* LectureSettings: Style */
/*****************************************************************************/
.lecture-settings {
	.lecture-settings-form {
		h5 {
			margin-bottom:0;
		}
		.threshold-slider {
			.left-item {
				margin:0;
				font-size:1.5em;
				font-weight:bold;
			}
			.right-item {
				flex:1;
			}
		}
	}

}
