<template name="Settings">
	<div class="main settings">
		<div class="innerMain">
			<h3>Personal Information</h3>
			{{#with this_user}}
			<form class="edit-profile row">
				<div class="flex-container">
					<div class="input-field left-item">
						<input id="firstName" name="firstName" type="text" value="{{profile.first_name}}">
						<label id="firstName-label" class="active" for="firstName">First Name</label>
					</div>
					<div class="input-field right-item">
						<input id="lastName" name="lastName" type="text" value="{{profile.last_name}}">
						<label id="lastName-label" class="active" for="lastName">Last Name</label>
					</div>
				</div>
				<div class="row button-row">
					<button class="waves-effect waves-light btn-flat" type="button" id="cancel">Cancel</button>
					<button class="waves-effect waves-light btn-flat" type="button" id="confirm-trigger">Change</button>
				</div>
			</form>
			<div id="edit-personal-modal" class="modal">
				<div class="modal-content">
					<p>Are you sure you want to change your personal information?</p>
				</div>
				<div class="modal-footer">
					<button class="waves-effect waves-light btn-flat" type="button" id="confirm-cancel">Cancel</button>
					<button class="waves-effect waves-light btn-flat" type="submit" id="confirm-change">Confirm</button>
				</div>
			</div>
			{{/with}}
		</div>
	</div>
</template>
