<template name="Instructor">
	<div class="instructor">
		<div class="flex-container">
			<h3>Current Courses</h3>
			<a href="/create_new_course" class="waves-effect waves-light btn">Create Course</a>
		</div>
		{{#if coursesAvailable}}
			{{#each courses}}
				<div class="card">
					<div class="card-content">
						<div class="flex-container">
							<div class="card-title">{{title}} {{code}}</div>
							<div class="card-class-size">
								<a id="class-size-tooltip" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Class Size">
									<img src="/icons/people.svg">
									<span>{{numberOfEnrolledStudent code}}</span>
								</a>
							</div>
						</div>
						<strong>Instructor: {{#with course_owner code}}{{profile.first_name}} {{profile.last_name}}{{/with}}</strong>
						<p>{{description}}</p>
					</div>
					<div class="card-action">
						<a href="/course/{{code}}">Course Page</a>
						{{#if courseIsOwnBy code}}
							<button class="waves-effect waves-light btn-flat" type="button" id="removeCourse">Remove</button>
						{{/if}}
					</div>
				</div>
			{{/each}}
		{{else}}
			<p>There are no course available yet. Please create a course</p>
		{{/if}}
		<div id="confirm-remove-course" class="modal">
			<div class="modal-content">
				<h3>Remove Course {{remove_course_code}}</h3>
				<p>Are you sure you want to remove this course? This cannot be undone.</p>
				<div class="row button-row">
					<button class="waves-effect waves-light btn-flat" type="button" id="confirm-cancel">Cancel</button>
					<button class="waves-effect waves-light btn-flat" type="button" id="confirm-remove">Confirm</button>
				</div>
			</div>
		</div>
	</div>
</template>
