nav {
	background-color:#2196F3;
	.nav-wrapper {
		width:80%;
		max-width: 760px;
		margin:0 auto;
		display:flex;
		@media only screen and (max-width:600px) {
			width:95%;
		}
		.brand-logo {
			position:inherit;
			img {
				width: 35px;
				height: 35px;
				vertical-align: text-bottom;
			}
			@media only screen and (max-width: 992px) {
				left:inherit;
				-webkit-transform: inherit;
				transform: inherit;
				padding-left:10px
			}
		}
		.breadcrumb-container {
			flex:1;
			padding-left:1em;
		}
		.dropdown-menu ul {
			li {
				@media only screen and (max-width: 600px) {
					padding-top:0.5em;
					a {
						padding:0 0.5em;
					}
				}
			}
		}
	}
	.dropdown-button {
		img {
			height:30px;
			width:30px;
			vertical-align: middle;
		}
	}
	.dropdown-content {
		background-color: #fafafa;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		min-width:160px;
		border-radius: 2px;
		img {
			width:30px;
			height:30px;
			vertical-align: middle;
		}
		li {
			text-align: center;
			a {
				color:#000;
				display:flex;
				justify-content: space-around;
				align-items: center;
			}
		}
	}
}
