<template name="LectureSettings">
	<div class="lecture-settings">
		<div class="innerMain">
			<h3>Lecture Settings</h3>
			<form class="lecture-settings-form" action="#">
				<h5>Notification Threshold</h5>
				<p>Select when you would like to receive an on-screen notification based on the number of students feeling confused</p>
				<div class="threshold-slider flex-container">
					<p class="left-item">{{threshold}}</p>
					<p class="range-field right-item">
						<input class="blue" type="range" id="notification-threshold" min="1" max="{{classSize}}" />
					</p>
				</div>
				<div class="row button-row">
					<button class="waves-effect waves-light btn-flat" type="button" id="confirm-cancel">Cancel</button>
					<button class="waves-effect waves-light btn-flat" type="button" id="confirm-changes">Confirm</button>
				</div>
			</form>
		</div>
	</div>
</template>
