/*****************************************************************************/
/* Settings: Style */
/*****************************************************************************/
.settings {
	.innerMain {
		@media only screen and (min-width:600px) {
			max-width:600px;
		}
	}
	
}
