/*****************************************************************************/
/* Recorder: Style */
/*****************************************************************************/
.recorder {
  audio {
    width: 100%;
  }
  .row {
    text-align: right;
  }
  #recorder-toggle {
    display: block;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 2em auto;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

#textBox {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #ddd;
  text-align: left;
  min-height: 150px;
}

#recorder-confidence {
  float: left;
  color: black;
  font-size:12px;
}
