<template name="CreateNewCourse">
	<div class="create-new-course main">
		<div class="innerMain">
			<h3>Create New Course</h3>
			<form class="create-new-course-form row">
				<div class="input-field">
					<input id="newCourseName" name="newCourseName" type="text" autocomplete="off">
					<label id="newCourseName-label" for="newCourseName">Course Title</label>
				</div>
				<div class="input-field">
					<input id="newCourseCode" name="newCourseCode" type="text" class="course-input" autocomplete="off">
					<label id="newCourseCode-label" for="newCourseCode">Course Code</label>
				</div>
				<div class="input-field">
					<textarea id="newCourseDescription" name="newCourseDescription" class="materialize-textarea"></textarea>
					<label for="newCourseDescription-label">Course Description</label>
				</div>
				<div class="input-field">
					<input id="newCoursePassword" name="newCoursePassword" type="text" autocomplete="off">
					<label id="newCoursePassword-label" for="newCoursePassword">Unique Key</label>
				</div>
				<div class="row button-row">
					<a class="waves-effect waves-light btn-flat" id="cancel">Cancel</a>
					<button class="waves-effect waves-light btn-flat" type="submit">Create</button>
				</div>
			</form>
		</div>
	</div>
</template>
