<template name="GroupContent">
	<div class="group-content">
		{{#if group}}
			<p class="group-label">Leader</p>
			<p>{{getUserNameById group.leader}}</p>
			<p class="group-label">Members</p>
			{{#each member in group.members}}
				<span style="padding-right:5px;">{{getUserNameById member}}</span>
			{{/each}}
			<p class="group-label">Discussion</p>
			{{#if group.discussion}}
				{{#markdown}}{{getGroupDiscussion}}{{/markdown}}
			{{else}}
				<p>No discussion yet.</p>
			{{/if}}
		{{/if}}
	</div>
</template>
