/*****************************************************************************/
/* Graph: Style */
/*****************************************************************************/
.graph {
	.graphTitle {
		text-align: center;
	}
	.graph-control-container {
		min-height:45px;
		.breakCountContainer{ 
			#breakCounter {
				span {
					font-weight:bold;
					font-size:1.5em;
				}
			}
			#resetBreakButton {
				img {
					height:35px;
					width:35px;
					vertical-align: middle;
					-webkit-transition: all 200ms ease;
					transition: all 200ms ease;
					&:hover {
						-webkit-transform: scale(1.2);
						-ms-transform: scale(1.2);
						transform: scale(1.2);
					}
				}
			}
		}
	}

	
	#confusedWrap {
		margin: 3em 0;
		text-align: center;
		#confusedButton, #breakButton {
			font-size:25px;
			height:inherit;
			padding:15px;
			@media only screen and (max-width:600px) {
				width:100%;
				margin:0.5em 0;
			}
		}
		img {
			height:35px;
			width:35px;
			vertical-align: middle;
		}
	}
}


