<template name="Course">
    <div class="main">
        <div class="innerMain course">
            {{#if course}}
                {{#with course}}
                    <div class="flex-container course-title-container">
                        <div class="title left-item">
                            <p>{{code}} {{title}}</p>
                            {{#if userIsStudent}}
                                {{#if studentIsInCourse code}}
                                    <p class="subtitle">You are enrolled in this course</p>

                                {{else}}
                                    <p class="subtitle">You have not enroll in this course</p>

                                {{/if}}
                            {{/if}}
                            {{#if userIsCourseInstructor code}}
                                <p class="subtitle">You're the instructor of this course</p>
                            {{/if}}
                        </div>
                        {{#if userIsInstructorOrAdmin}}
                            <div class="right-item course-size">
                                <a id="class-size-tooltip" class="tooltipped" data-position="top" data-delay="50"
                                   data-tooltip="Class Size">
                                    <img src="/icons/people.svg">
                                    <span>{{numberOfEnrolledStudent code}}</span>
                                </a>
                            </div>
                        {{/if}}
                    </div>

                    {{#if userIsInCourse code}}
                        <ul class="lecture-list collection with-header card">
                            <li class="collection-header">
                                <p>Lectures</p>
                            </li>
                            {{#if lectures}}
                                {{#each lectures}}
                                    <a href='/course/{{courseCode}}/{{title}}' class="collection-item flex-container">
                                        <div class="left-item">{{title}}  {{#if lectureIsActive _id}}
                                            <span class="live-now active-blink">LIVE</span>{{/if}}</div>
                                        <div class="right-item">{{prettyDate createdAt}}</div>
                                    </a>
                                {{/each}}
                            {{else}}
                                <li class="collection-item">No lecture available yet.</li>
                            {{/if}}
                        </ul>
                    {{/if}}
                    <div class="card-panel course-info">
                        <span class="panel-title">Course coordinator: {{getUserNameById ownerId}}</span>
                        <p>Instructors: {{#each instructor in instructors}}
                            <span style="padding-right:10px">{{getUserNameById instructor}}</span>{{/each}}</p>
                        <p>{{description}}</p>
                    </div>

                    {{#if userIsCourseOwner code}}
                        <div class="card">
                            <form id="course-settings-form">
                                <div class="card-content">
                                    <span class="card-title-small">Course Settings</span>

                                    <div class="input-field select-field">
                                        <span class="label">Course instructors & Teaching Assistants</span>
                                        <select id="selectCourseInstructors" name="selectCourseInstructors" multiple>
                                            <option value="" disabled selected>Choose additional course instructors
                                            </option>
                                            {{#each instructor in getAvailableInstructors}}
                                                <option value={{instructor._id}} {{userIsCourseInstructorSelect
                                                        instructor._id}} {{userIsCourseOwnerSelect
                                                        instructor._id}}>{{instructor.profile.first_name}} {{instructor.profile.last_name}}</option>
                                            {{/each}}
                                        </select>

                                    </div>
                                    <span class="card-title-small">Enroll Students and Groups</span>
                                    <div class="input-field file-field">
                                        <span class="label">Note: The CSV file has to contain a "StudentID" and "Group" columns.</span>
                                        <div class="btn">
                                            <span>File</span>
                                            <input id="student-csv" type="file" accept=".csv">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                        </div>
                                    </div>
                                    <!--<span class="card-title-small">Group Settings</span>-->
                                    <!--<div class="input-field file-field">-->
                                    <!--<span class="label">Note: The CSV file has to contain "ID" and "Group" columns.</span>-->
                                    <!--<div class="btn">-->
                                    <!--<span>File</span>-->
                                    <!--<input id="group-csv" type="file" accept=".csv">-->
                                    <!--</div>-->
                                    <!--<div class="file-path-wrapper">-->
                                    <!--<input class="file-path validate" type="text">-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    {{#if groups}}
                                        <table class="group-table">
                                            <thead>
                                            <tr>
                                                <th>Group</th>
                                                <th>Members</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            {{#each group in groups}}
                                                <tr>
                                                    <td>{{group.name}}</td>
                                                    <td>
                                                        {{#each member in group.members}}
                                                            <span>{{getUserNameById member}}</span>
                                                        {{/each}}
                                                    </td>
                                                </tr>
                                            {{/each}}
                                            </tbody>
                                        </table>
                                    {{else}}
                                        <p>No default group settings were given</p>
                                    {{/if}}
                                </div>
                                <div class="card-action">
                                    <button class="waves-effect waves-teal btn-flat" type="button"
                                            id="cancelCourseSettings">Cancel
                                    </button>
                                    <button class="waves-effect waves-teal btn-flat" type="submit"
                                            id="changeCourseSettings">Change
                                    </button>
                                </div>
                            </form>
                        </div>
                    {{/if}}

                    {{#if userIsCourseInstructor code}}
                        <div class="fixed-action-btn">
                            <button id="create-lecture-trigger" class="btn-floating btn-large blue">
                                <i class="large material-icons">add</i>
                            </button>
                        </div>
                        <div id="create-lecture-modal" class="modal">
                            <form id="create-lecture-form">
                                <div class="modal-content">
                                    <h3>Create Lecture</h3>
                                    <div class="input-field">
                                        <input id="lectureName" name="lectureName" type="text" class="validate"
                                               autocomplete="off">
                                        <label id="lectureName-label" for="lectureName">Lecture Title</label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="waves-effect waves-teal btn-flat" id="cancel-create-lecture"
                                            type="button">Cancel
                                    </button>
                                    <button class="waves-effect waves-teal btn-flat" type="submit">Create</button>
                                </div>
                            </form>
                        </div>
                    {{/if}}
                {{/with}}
            {{else}}
                {{> NotFound}}
            {{/if}}
        </div>
    </div>

</template>
