/*****************************************************************************/
/* createNewCourse: Style */
/*****************************************************************************/
.create-new-course {
}
