/*****************************************************************************/
/* CourseList: Style */
/*****************************************************************************/
.course-list {
	.card {
		.card-content {
			.card-title {
				.course-size {
					cursor:default;
					img {
						width:15px;
						height:15px;
					}
					span {
						color:initial;
						font-size: 0.6em;
						vertical-align: super;
						margin-left:-5px;
						color: grey;
					}
				}
			}

		}
	}
}
