/*****************************************************************************/
/* Stream: Style */
/*****************************************************************************/
.stream {
	.overlay-btn {
		width: 35px;
		height:35px;
		position:absolute;
		top: 50px;
		right: 80px;
		padding: 0;
		@media only screen and (max-width: 600px) {
			top: 20px;
			right: 40px;
		}
		img {
			width: 35px;
			height:35px;
			opacity: 0.8;
			-webkit-transition: opacity .3s ease;
			-moz-transition: opacity .3s ease;
			-o-transition: opacity .3s ease;
			-ms-transition: opacity .3s ease;
			transition: opacity .3s ease;
			&:hover {
				opacity: 1;
			}
		}
	}
	a-scene {
		position: inherit;
	}
	.group-discussion-form {
		#group-discussion-textarea {
			min-height:200px;
		}
		
	}
	.group-selector {
		margin: 5em auto;
	}
}
