<template name="DisplayRecordings">
	{{#if question}}
	<div class="display-recordings">
		<audio id={{question._id}} src={{question.link}}></audio>
		<i id="{{question._id}}-button" class="play-button material-icons circle">play_arrow</i>
		<div class="title flex-container">
			<span class="left-item">Speech recognition confidence: {{getPercentage question.meta.confidence}}</span>
			<span class="right-item">{{livestamp question.createdAt}}</span>
		</div>
		<p>Transcript: {{question.meta.transcript}}</p>
	</div>
	{{/if}}
</template>
