<template name="Enroll">
	<div class="enroll">
		<div class="innerMain">
			{{#if this_user}}
				<h3>{{getCourseCode courseID}} Course Enrollment</h3>
				<form class="enroll-form">
					<div class="input-field">
						<input id="enrollKey" name="enrollKey" type="text" class="validate" autocomplete="off">
						<label id="enrollKey-label" for="enrollKey">Course Key</label>
					</div>
					<div class="row button-row">
						<button class="waves-effect waves-light btn-flat" id="cancel" type="button">Cancel</button>
						<button class="waves-effect waves-light btn-flat" type="submit">Enroll</button>
					</div>
				</form>
			{{/if}}
		</div>
	</div>
</template>
