<template name="CourseList">
	<div class="course-list">
		<div class="search-bar search-wrapper card">
			<input id="search" placeholder="Search course">
			<i class="material-icons left">search</i>
		</div>
		{{#if userIsInstructor}}
			<div class="fixed-action-btn">
				<a href="/create_new_course" class="btn-floating btn-large blue">
					<i class="large material-icons">add</i>
				</a>
			</div>
		{{/if}}
		{{#if courses}}
			{{#each relatedCourses}}
				{{> CourseCard courseId=_id}}
			{{/each}}
			{{#each unrelatedCourses}}
				{{> CourseCard courseId=_id}}
			{{/each}}
		{{else}}
			{{#if userIsInstructor}}
				<p>There are no course available yet. Please create a course</p>
			{{else}}
				<p>No course is available right now.</p>
			{{/if}}
		{{/if}}
	</div>
	<div id="remove-course-modal" class="modal">
		{{#if userIsInstructor}}
		<div class="modal-content">
			<h3>Remove course {{getSelectedCourseCode}}</h3>
			<p>Are you sure you want to remove this course?</p>
		</div>
		<div class="modal-footer row button-row">
			<button class="waves-effect waves-light modal-action btn-flat" type="button" id="remove-course-cancel">Cancel</button>
			<button class="waves-effect waves-light modal-action btn-flat" type="button" id="confirm-remove">Confirm</button>
		</div>
		{{/if}}
	</div>
	<div id="enroll-course-modal" class="modal">
		{{#if userIsStudent}}
		<form id="enroll-form" class="enroll-form">
			<div class="modal-content">
				<h3>Enroll course {{getSelectedCourseCode}}</h3>
				<div class="input-field">
					<input id="enrollKey" name="enrollKey" type="text" class="validate" autocomplete="off">
					<label id="enrollKey-label" for="enrollKey">Course Key</label>
				</div>
			</div>
			<div class="modal-footer row button-row">
				<button class="waves-effect waves-light modal-action btn-flat" id="enroll-course-cancel" type="button">Cancel</button>
				<button class="waves-effect waves-light modal-action btn-flat" type="submit">Enroll</button>
			</div>
		</form>
		{{/if}}
	</div>
</template>
