<template name="Course">
	<div class="main">
		<div class="innerMain course">
			{{#if course}}
				{{#with course}}
					<div class="flex-container course-title-container">
						<div class="title left-item">
							<p>{{code}} {{title}}</p>
							{{#if studentIsInCourse code}}
								<p class="subtitle">You've enrolled in this course</p>
							{{/if}}
							{{#if userIsCourseInstructor code}}
								<p class="subtitle">You're the instructor of this course</p>
							{{/if}}
						</div>
						{{#if userIsInstructorOrAdmin}}
							<div class="right-item course-size">
								<a id="class-size-tooltip" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Class Size">
									<img src="/icons/people.svg">
									<span>{{numberOfEnrolledStudent code}}</span>
								</a>
							</div>
						{{/if}}
					</div>
					
					{{#if userIsInCourse code}}
						<ul class="lecture-list collection with-header card">
							<li class="collection-header">
								<p>Lectures</p>
							</li>
							{{#if lectures}}
								{{#each lectures}}
									<a href='/course/{{courseCode}}/{{title}}' class="collection-item flex-container">
										<div class="left-item">{{title}}  {{#if lectureIsActive _id}}<span class="live-now active-blink">LIVE NOW</span>{{/if}}</div>
										<div class="right-item">{{prettyDate createdAt}}</div>
									</a>
								{{/each}}
							{{else}}
								<li class="collection-item">No lecture available yet.</li>
							{{/if}}
						</ul>
					{{else}}
						<p style="font-weight: 300;">You haven't enroll in this course yet.</p>
					{{/if}}
					<div class="card-panel course-info">
						<span>Instructor: {{#with getCourseOwner code}}{{profile.first_name}} {{profile.last_name}}{{/with}}</span>
						<p>{{description}}</p>
					</div>
				{{/with}}
				{{#if userIsInstructor}}
					<div class="fixed-action-btn">
						<button id="create-lecture-trigger" class="btn-floating btn-large blue">
							<i class="large material-icons">add</i>
						</button>
					</div>
				{{/if}}
				
			{{else}}
				{{> NotFound}}
			{{/if}}
		</div>
	</div>
	<div id="create-lecture-modal" class="modal">
		<form id="create-lecture-form">
			<div class="modal-content">
				<h3>Create Lecture</h3>
					<div class="input-field">
						<input id="lectureName" name="lectureName" type="text" class="validate" autocomplete="off">
						<label id="lectureName-label" for="lectureName">Lecture Title</label>
					</div>
			</div>
			<div class="modal-footer">
				<button class="waves-effect waves-teal btn-flat" id="cancel-create-lecture" type="button">Cancel</button>
				<button class="waves-effect waves-teal btn-flat" type="submit">Create</button>
			</div>
		</form>
	</div>
</template>
