<template name="Course">
	<div class="main">
		<div class="innerMain course">
			{{#if course}}
				{{#with course}}
					<div class="flex-container course-title-container">
						<h3 class="left-item">{{code}} {{title}}</h3>
						{{#if userIsInstructorOrAdmin}}
							<div class="right-item course-size">
								<a id="class-size-tooltip" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Class Size">
									<img src="/icons/people.svg">
									<span>{{numberOfEnrolledStudent code}}</span>
								</a>
							</div>
						{{/if}}
					</div>
					
					{{#if userIsInCourse code}}
						{{#if studentIsInCourse code}}
							<strong>You've enrolled in this course</strong>
						{{/if}}
						{{#if userIsCourseInstructor code}}
							<strong>You're the instructor of this course</strong>
						{{/if}}
						<ul class="lecture-list collection with-header card">
							<li class="collection-header flex-container flex-container-mobile">
								<h5>Lectures</h5>
								{{#if userIsCourseInstructor code}}
									<button id="create-lecture-trigger" class="waves-effect waves-teal btn-flat" type="button"><i class="material-icons">add</i></button>
								{{/if}}
							</li>
							{{#if lectures}}
								{{#each lectures}}
									<a href='/course/{{courseCode}}/{{title}}' class="collection-item flex-container">
										<div class="left-item">{{title}}  {{#if lectureIsActive _id}}<span class="live-now active-blink">LIVE NOW</span>{{/if}}</div>
										<div class="right-item">{{prettyDate createdAt}}</div>
									</a>
								{{/each}}
							{{else}}
								<li class="collection-item">No lecture available yet.</li>
							{{/if}}
						</ul>
					{{else}}
						<p>You haven't enroll in this course yet.</p>
					{{/if}}
					<strong>Instructor: {{#with getCourseOwner code}}{{profile.first_name}} {{profile.last_name}}{{/with}}</strong>
					<p>{{description}}</p>
				{{/with}}
				<div id="create-lecture-modal" class="modal">
					<form id="create-lecture-form">
						<div class="modal-content">
							<h3>Create Lecture</h3>
								<div class="input-field">
									<input id="lectureName" name="lectureName" type="text" class="validate" autocomplete="off">
									<label id="lectureName-label" for="lectureName">Lecture Title</label>
								</div>
						</div>
						<div class="modal-footer">
							<button class="waves-effect waves-teal btn-flat" id="cancel-create-lecture" type="button">Cancel</button>
							<button class="waves-effect waves-teal btn-flat" type="submit">Create</button>
						</div>
					</form>
				</div>
			{{else}}
				{{> NotFound}}
			{{/if}}

		</div>
	</div>
</template>
