/*****************************************************************************/
/* Login: Style */
/*****************************************************************************/
.login {
	@media only screen and (min-width:600px) {
		padding: 1em 2em;
	}
	h3 {
		text-align: center;
	}
	.row {
		margin:0;
		text-align:right;
	}
}
