<template name="Login">
	<form class="login-form">
		<div class="login modal-content">
			<h3>Login</h3>
			<div class="input-field">
				<input id="loginEmail" name="loginEmail" type="email" class="validate">
				<label id="loginEmail-label" for="loginEmail" data-error="Invalide Email Address">Email</label>
			</div>
			<div class="input-field">
				<input id="loginPassword" name="loginPassword" type="password" class="validate">
				<label id="loginPassword-label" for="loginPassword">Password</label>
			</div>
		</div>
		<div class="modal-footer">
			<button class="waves-effect waves-teal modal-action btn-flat" type="button" id="login-cancel">Cancel</button>
			<button class="waves-effect waves-teal modal-action btn-flat" type="submit">Login</button>
		</div>
	</form>
</template>
