<template name="Register">
	<form class="register-form">
		<div class="register modal-content">
			<h3>Register</h3>
			<div class="flex-container">
				<div class="input-field left-item">
					<input id="registerFirstName" name="registerFirstName" type="text" autocomplete="off">
					<label id="registerFirstName-label" for="registerFirstName">First Name</label>
				</div>
				<div class="input-field right-item">
					<input id="registerLastName" name="registerLastName" type="text" autocomplete="off">
					<label id="registerLastName-label" for="registerLastName">Last Name</label>
				</div>
			</div>
			<div class="input-field select-field">
				<select id="registerAccountType" name="registerAccountType">
					<option value="" disabled selected>Choose your account type</option>
					<option value="student">Student</option>
					<option value="instructor">Instructor</option>
				</select>
			</div>
			{{#if showUTORIDField}}
			<div class="input-field">
				<input id="registerUTORID" name="registerUTORID" type="number" min="1">
				<label id="registerUTORID-label" for="registerUTORID">UTORID</label>
			</div>
			{{/if}}
			<div class="input-field">
				<input id="registerEmail" name="registerEmail" type="email">
				<label id="registerEmail-label" for="registerEmail">Email</label>
			</div>
			<div class="input-field">
				<input id="registerPassword" name="registerPassword" type="password">
				<label id="registerPassword-label" for="registerPassword">Password</label>
			</div>
		</div>
		<div class="modal-footer">
			<button class="waves-effect waves-teal modal-action btn-flat" type="button" id="register-cancel">Cancel</button>
			<button class="waves-effect waves-teal modal-action btn-flat" type="submit">Register</button>
		</div>
	</form>
</template>
